body
{
	font-family:'Lucida Handwriting', 'Helvetica';
	color: #53c51f ;
	background-color: #302561;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #57ac5e;
	font-weight: bold;
}

h1, h2, h3
{
	color: #7e1188;
	font-family: 'Monaco', "Lucida", 'Verdana';
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:rgb(218, 25, 25);
}

a:hover
{
	text-decoration: overline underline;
}


figure
{
	text-align: center;
  

}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

.center{
	text-align: center;
	list-style-position: inside;
	
}

.container{
	flex-direction: column;
	width: 100px;
  	height: 50px;
}

.button{
	background-color:blanchedalmond;
	color: black;
}

.slide{
	width: 100px;
	height: 60px;
}

.slide_main_image{
	width: 500px;
	height: 300px;
	margin-left: 0%;
}

.picture_list{
	display:inline-flex;
    margin-left: 23%;
    list-style-type: none;
}

.picture_list li{
    background-color: rgb(43, 161, 63);
    padding: 5px 5px 0px 5px;
}



