body {
	font-size: 16px;
    background-color: #d6cf6c;
	color: #26686d;
}

h1 {
	font-style: italic;
	font-size: 30px;
    text-align: center;
    background-color: #201e1e46;
	color: #833917;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

p {
	text-align: center;
}

div{
	text-align: center;
}

footer {
    font-style: italic;
	font-size: 14px;
	text-align: center;
}
