/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
	font-size: 16px;
    background-color: #d6cf6c;
	color: #26686d;
}

/*styling for the page title*/
h1 {
	font-style: italic;
	font-size: 28px;
    text-align: center;
    background-color: #201e1e46;
	color: #833917;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

p {
	text-align: center;
}

div{
	text-align: center;
}

/*styling for the overall table*/
table {
    background-color: #F8F8F8;
	border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
}

/*styling for the tables*/
.altrow {
	background-color: #E0E0E0;
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 14px;
	text-align: center;
}
