<p>Page built by Satyrical Axolotl Inc. 2021</p>
<p>Is it satire, is it true? Pay us to find out.</p>

<br>

<a
href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.uncc.edu%2Fsanand8%2Fitis3135%2Fbrand_SA%2Findex.html">
<img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator"></a>



<a
href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.uncc.edu%2Fsanand8%2Fitis3135%2Fbrand_SA%2Findex.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
<img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator" />
</a>